<ion-header>
  <ion-toolbar>
    <ion-title>WatchAnim
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p><ion-button [routerLink]="['/']">Acceuil</ion-button>
  <br>
  <br>
  <br>
  Continuer
  
  
  
  <br>
<br>
<br>
Naruto Shippuden
<br>
<br>
S1:Ep1
<br>
<br>
<br>
Naruto perd sa famille et tout le tralala tu connais la suite poto naruto le genie et tout et tout
</p>

<p><button></button>
<br>
<br>

<br>
<br>
<br> Recommandations
<br>
<br>
<br>
Fire Force 
<br>
<br>
S1:Ep1
<br>
<br>
<br>
ouah il crache du feu par ses pieds ce gars et quand il sourit c'est un démon du coup c'est le meilleur anime

<br>
<br>
<br>
<ion-button [routerLink]="['/video']">suite</ion-button>





</p>
</ion-content>
